body {
    background: url('../images/main-bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* font-family: 'Nanum Gothic', sans-serif; */

#top-nav {
    width: 100%;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.navCont {
    display: flex;
    justify-content: center;
}

.navCont > h3 {
    letter-spacing: 3px;
    margin-left: 10px;
}

.mainCont {
    width: 100%;
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.right-col, .left-col {
    background: seagreen;
    height: 650px;
    width: 48%;
}

.home-list {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(50px,auto);
    grid-gap: 5px;
}

.home-list > * {
    background: slategray;
}